<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Vouchers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="data:,">
    <style>
        body {
            background-color: #f5f5f5;
            color: #333;
        }

        .voucher-table {
            width: 100%;
            margin-top: 20px;
        }

        .voucher-table th, .voucher-table td {
            padding: 12px;
            text-align: center;
            vertical-align: middle;
        }

        .voucher-table th {
            background-color: #c7c5c5;
        }

        .voucher-table td button {
            background-color: #e6e6e6;
            border-radius: 20px;
            padding: 5px 10px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            border: none;
            transition: background-color 0.3s ease;
        }

        .voucher-table td button:hover {
            background-color: #c7c5c5;
            cursor: pointer;
        }

        .navbar {
            background-color: #c7c5c5;
        }

        .btn-custom {
            background-color: #c7c5c5;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 20px;
            transition: background-color 0.3s ease;
        }

        .btn-custom:hover {
            background-color: #4a4a4a;
            cursor: pointer;
        }

        .form-control-sm {
            font-size: 12px;
            padding: 0.5rem;
        }
        .filter-form{
            padding: 10px 10px;
        }
        .filter-form select,
        .filter-form input {
            width: 100%;
            margin: 0;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="btn btn-custom" id="accountButton"></button>
        <button class="btn btn-custom" id="logoutButton"></button>
        <select id="languageSelect" class="form-select form-select-sm ms-auto" style="width: auto;">
            <option value="en">English</option>
            <option value="uk">Українська</option>
        </select>
    </div>
</nav>
<div class="filter-form mb-4">
    <form id="filterForm" class="d-flex flex-wrap gap-3 justify-content-between">
        <div class="flex-fill">
            <select class="form-select form-control-sm" id="tourTypeFilter">
                <option value="">Tour Type</option>
                <option value="HEALTH">Health</option>
                <option value="SPORTS">Sports</option>
                <option value="LEISURE">Leisure</option>
                <option value="SAFARI">Safari</option>
                <option value="WINE">Wine</option>
                <option value="ECO">Eco</option>
                <option value="ADVENTURE">Adventure</option>
                <option value="CULTURAL">Cultural</option>
            </select>
        </div>
        <div class="flex-fill">
            <select class="form-select form-control-sm" id="transferTypeFilter">
                <option value="">Transfer Type</option>
                <option value="BUS">Bus</option>
                <option value="TRAIN">Train</option>
                <option value="PLANE">Plane</option>
                <option value="SHIP">Ship</option>
                <option value="PRIVATE_CAR">Private Car</option>
                <option value="JEEPS">Jeeps</option>
                <option value="MINIBUS">Minibus</option>
                <option value="ELECTRICAL_CARS">Electrical Cars</option>
            </select>
        </div>
        <div class="flex-fill">
            <select class="form-select form-control-sm" id="hotelTypeFilter">
                <option value="">Hotel Type</option>
                <option value="ONE_STAR">1 Star</option>
                <option value="TWO_STARS">2 Stars</option>
                <option value="THREE_STARS">3 Stars</option>
                <option value="FOUR_STARS">4 Stars</option>
                <option value="FIVE_STARS">5 Stars</option>
            </select>
        </div>
        <div class="flex-fill">
            <input type="number" id="minPriceFilter" class="form-control form-control-sm" placeholder="Min Price">
        </div>
        <div class="flex-fill">
            <input type="number" id="maxPriceFilter" class="form-control form-control-sm" placeholder="Max Price">
        </div>
        <div class="flex-fill">
            <button type="submit" class="btn btn-custom btn-sm w-100">Apply Filters</button>
        </div>
    </form>
</div>
<div class="container">
    <h3 class="text-center mb-4" id="allVouchersTitle"></h3>
    <table class="table table-striped voucher-table">
        <thead>
        <th id="titleHeader"></th>
        <th id="descriptionHeader"></th>
        <th id="priceHeader"></th>
        <th id="tourTypeHeader"></th>
        <th id="transferTypeHeader"></th>
        <th id="hotelTypeHeader"></th>
        <th id="statusHeader"></th>
        <th id="arrivalDateHeader"></th>
        <th id="evictionDateHeader"></th>
        <th id="hotHeader"></th>
        <th id="actionHeader"></th>
        </thead>
        <tbody id="vouchersList"></tbody>
    </table>
</div>

<script>
    const token = localStorage.getItem('token');
    const userId = localStorage.getItem('userId');

    const translations = {
        en: {
            account: "My account",
            logout: "Logout",
            title: "Title",
            description: "Description",
            price: "Price",
            tourType: "Tour Type",
            transferType: "Transfer Type",
            hotelType: "Hotel Type",
            status: "Status",
            arrivalDate: "Arrival Date",
            evictionDate: "Eviction Date",
            hot: "Hot",
            action: "Action",
            allVouchers: "All Vouchers",
            noVouchersFound: "No vouchers found.",
            orderFailed: "Order failed.",
            voucherOrdered: "Voucher successfully ordered!",
            filter: {
                tourType: "Tour Type",
                transferType: "Transfer Type",
                hotelType: "Hotel Type",
                minPrice: "Min Price",
                maxPrice: "Max Price",
                applyFilters: "Apply Filters",
                tourTypes: {
                    HEALTH: "Health",
                    SPORTS: "Sports",
                    LEISURE: "Leisure",
                    SAFARI: "Safari",
                    WINE: "Wine",
                    ECO: "Eco",
                    ADVENTURE: "Adventure",
                    CULTURAL: "Cultural"
                },
                transferTypes: {
                    BUS: "Bus",
                    TRAIN: "Train",
                    PLANE: "Plane",
                    SHIP: "Ship",
                    PRIVATE_CAR: "Private Car",
                    JEEPS: "Jeeps",
                    MINIBUS: "Minibus",
                    ELECTRICAL_CARS: "Electrical Cars"
                },
                hotelTypes: {
                    ONE_STAR: "1 Star",
                    TWO_STARS: "2 Stars",
                    THREE_STARS: "3 Stars",
                    FOUR_STARS: "4 Stars",
                    FIVE_STARS: "5 Stars"
                }
            }
        },
        uk: {
            account: "Мій акаунт",
            logout: "Вийти",
            title: "Назва",
            description: "Опис",
            price: "Ціна",
            tourType: "Тип туру",
            transferType: "Тип трансферу",
            hotelType: "Тип готелю",
            status: "Статус",
            arrivalDate: "Дата приїзду",
            evictionDate: "Дата виселення",
            hot: "Гарячий",
            action: "Дія",
            allVouchers: "Усі ваучери",
            noVouchersFound: "Ваучерів не знайдено.",
            orderFailed: "Не вдалося оформити замовлення.",
            voucherOrdered: "Ваучер успішно замовлений!",
            filter: {
                tourType: "Тип туру",
                transferType: "Тип трансферу",
                hotelType: "Тип готелю",
                minPrice: "Мін. ціна",
                maxPrice: "Макс. ціна",
                applyFilters: "Застосувати фільтри",
                tourTypes: {
                    HEALTH: "Оздоровчий",
                    SPORTS: "Спортивний",
                    LEISURE: "Відпочинок",
                    SAFARI: "Сафарі",
                    WINE: "Винний",
                    ECO: "Еко",
                    ADVENTURE: "Пригодницький",
                    CULTURAL: "Культурний"
                },
                transferTypes: {
                    BUS: "Автобус",
                    TRAIN: "Поїзд",
                    PLANE: "Літак",
                    SHIP: "Корабель",
                    PRIVATE_CAR: "Приватний автомобіль",
                    JEEPS: "Джипи",
                    MINIBUS: "Мікроавтобус",
                    ELECTRICAL_CARS: "Електромобілі"
                },
                hotelTypes: {
                    ONE_STAR: "1 зірка",
                    TWO_STARS: "2 зірки",
                    THREE_STARS: "3 зірки",
                    FOUR_STARS: "4 зірки",
                    FIVE_STARS: "5 зірок"
                }
            }
        }
    };
    const updateFiltersLocalization = (language) => {
        document.getElementById('tourTypeFilter').innerHTML = `
        <option value="">${translations[language].filter.tourType}</option>
        ${Object.entries(translations[language].filter.tourTypes).map(([key, value]) => `<option value="${key}">${value}</option>`).join('')}
    `;
        document.getElementById('transferTypeFilter').innerHTML = `
        <option value="">${translations[language].filter.transferType}</option>
        ${Object.entries(translations[language].filter.transferTypes).map(([key, value]) => `<option value="${key}">${value}</option>`).join('')}
    `;
        document.getElementById('hotelTypeFilter').innerHTML = `
        <option value="">${translations[language].filter.hotelType}</option>
        ${Object.entries(translations[language].filter.hotelTypes).map(([key, value]) => `<option value="${key}">${value}</option>`).join('')}
    `;
        document.getElementById('minPriceFilter').placeholder = translations[language].filter.minPrice;
        document.getElementById('maxPriceFilter').placeholder = translations[language].filter.maxPrice;
        document.querySelector('#filterForm button[type="submit"]').textContent = translations[language].filter.applyFilters;
    };
    const languageSelect = document.getElementById('languageSelect');
    const updateLanguage = (language) => {
        document.getElementById('accountButton').textContent = translations[language].account;
        document.getElementById('logoutButton').textContent = translations[language].logout;
        document.getElementById('titleHeader').textContent = translations[language].title;
        document.getElementById('descriptionHeader').textContent = translations[language].description;
        document.getElementById('priceHeader').textContent = translations[language].price;
        document.getElementById('tourTypeHeader').textContent = translations[language].tourType;
        document.getElementById('transferTypeHeader').textContent = translations[language].transferType;
        document.getElementById('hotelTypeHeader').textContent = translations[language].hotelType;
        document.getElementById('statusHeader').textContent = translations[language].status;
        document.getElementById('arrivalDateHeader').textContent = translations[language].arrivalDate;
        document.getElementById('evictionDateHeader').textContent = translations[language].evictionDate;
        document.getElementById('hotHeader').textContent = translations[language].hot;
        document.getElementById('actionHeader').textContent = translations[language].action;
        document.getElementById('allVouchersTitle').textContent = translations[language].allVouchers;
        updateFiltersLocalization(language);
    };

    const setInitialLanguage = () => {
        const savedLanguage = localStorage.getItem('language') || 'en';
        document.getElementById('languageSelect').value = savedLanguage;
        updateLanguage(savedLanguage);
    };

    document.getElementById('languageSelect').addEventListener('change', (e) => {
        const selectedLanguage = e.target.value;
        localStorage.setItem('language', selectedLanguage);
        updateLanguage(selectedLanguage);
    });
    setInitialLanguage();

    if (!token) {
        window.location.href = '/view/login';
    }

    fetch('/vouchers/allVouchers', {
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${token}`,
            'Content-Type': 'application/json'
        }
    })
        .then(response => response.json())
        .then(voucherData => {
            const vouchersList = document.getElementById('vouchersList');
            if (voucherData.results.length > 0) {
                voucherData.results.forEach(voucher => {
                    const voucherRow = document.createElement('tr');
                    voucherRow.innerHTML = `
                        <td>${voucher.title}</td>
                        <td>${voucher.description}</td>
                        <td>$${voucher.price.toFixed(2)}</td>
                        <td>${voucher.tourType}</td>
                        <td>${voucher.transferType}</td>
                        <td>${voucher.hotelType}</td>
                        <td>${voucher.status}</td>
                        <td>${voucher.arrivalDate}</td>
                        <td>${voucher.evictionDate}</td>
                        <td>${voucher.isHot === 'true' ? 'Yes' : 'No'}</td>
                        <td><button class="btn order-btn" data-voucher-id="${voucher.id}" data-user-id="${userId}">Order</button></td>
                    `;
                    vouchersList.appendChild(voucherRow);

                    voucherRow.querySelector('.order-btn').addEventListener('click', () => {
                        fetch(`/vouchers/order/${voucher.id}`, {
                            method: 'POST',
                            headers: {
                                'Authorization': `Bearer ${token}`,
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ userId })
                        })
                            .then(response => {
                                if (response.ok) {
                                    alert(translations[language].voucherOrdered);
                                    location.reload();
                                } else {
                                    response.json().then(data => {
                                        alert(data.statusMessage || translations[language].orderFailed);
                                    });
                                }
                            })
                            .catch(error => console.error('Error ordering voucher:', error));
                    });
                });
            } else {
                vouchersList.innerHTML = `<tr><td colspan="11" class="text-center">${translations[language].noVouchersFound}</td></tr>`;
            }
        })
        .catch(error => {
            console.error('Error fetching vouchers:', error);
            alert('Failed to load vouchers.');
        });

    document.getElementById('logoutButton').addEventListener('click', () => {
        localStorage.removeItem('token');
        localStorage.removeItem('username');
        window.location.href = '/view/login';
    });

    document.getElementById('accountButton').addEventListener('click', () => {
        window.location.href = `/view/user/${userId}`;
    });

    document.getElementById('filterForm').addEventListener('submit', (e) => {
        e.preventDefault();

        const tourType = document.getElementById('tourTypeFilter').value;
        const transferType = document.getElementById('transferTypeFilter').value;
        const hotelType = document.getElementById('hotelTypeFilter').value;
        const minPrice = document.getElementById('minPriceFilter').value;
        const maxPrice = document.getElementById('maxPriceFilter').value;

        const queryParams = new URLSearchParams();

        if (tourType) queryParams.append('tourType', tourType);
        if (transferType) queryParams.append('transferType', transferType);
        if (hotelType) queryParams.append('hotelType', hotelType);
        if (minPrice) queryParams.append('minPrice', minPrice);
        if (maxPrice) queryParams.append('maxPrice', maxPrice);

        fetch(`/vouchers/filter?${queryParams.toString()}`, {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(voucherData => {
                const vouchersList = document.getElementById('vouchersList');
                vouchersList.innerHTML = '';

                if (voucherData.results.length > 0) {
                    voucherData.results.forEach(voucher => {
                        const voucherRow = document.createElement('tr');
                        voucherRow.innerHTML = `
                            <td>${voucher.title}</td>
                            <td>${voucher.description}</td>
                            <td>$${voucher.price.toFixed(2)}</td>
                            <td>${voucher.tourType}</td>
                            <td>${voucher.transferType}</td>
                            <td>${voucher.hotelType}</td>
                            <td>${voucher.status}</td>
                            <td>${voucher.arrivalDate}</td>
                            <td>${voucher.evictionDate}</td>
                            <td>${voucher.isHot === 'true' ? 'Yes' : 'No'}</td>
                            <td><button class="btn order-btn" data-voucher-id="${voucher.id}" data-user-id="${userId}">Order</button></td>
                        `;
                        vouchersList.appendChild(voucherRow);

                        voucherRow.querySelector('.order-btn').addEventListener('click', () => {
                            fetch(`/vouchers/order/${voucher.id}`, {
                                method: 'POST',
                                headers: {
                                    'Authorization': `Bearer ${token}`,
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ userId })
                            })
                                .then(response => {
                                    if (response.ok) {
                                        alert(translations[language].voucherOrdered);
                                        location.reload();
                                    } else {
                                        response.json().then(data => {
                                            alert(data.statusMessage || translations[language].orderFailed);
                                        });
                                    }
                                })
                                .catch(error => console.error('Error ordering voucher:', error));
                        });
                    });
                } else {
                    vouchersList.innerHTML = `<tr><td colspan="11" class="text-center">${translations[language].noVouchersFound}</td></tr>`;
                }
            })
            .catch(error => {
                console.error('Error fetching filtered vouchers:', error);
                alert('Failed to load filtered vouchers.');
            });
    });
</script>
</body>
</html>
